$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$ceasar: 'Caesar Dressing', cursive;
$allerta: 'Allerta Stencil', sans-serif;
$plaster: 'Plaster', cursive;

$canter-bold: 'CanterBold', sans-serif;
$canter-bold-3d: 'CanterBold3D', sans-serif;
$canter-bold-shadow: 'CanterBoldShadow', sans-serif;
$canter-bold-strips: 'CanterBoldStrips', sans-serif;
$canter-light: 'CanterLight', sans-serif;
$canter-outline: 'CanterOutline', sans-serif;