@import './_font-imports.scss';
@import './_fonts.scss';
@import './_colors.scss';

html, body{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #322F31;
    transition: 1s ease-in-out;

    &.hidden{
        opacity: 0;
    }
}

#viewport{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;

    #viewport-content{
        position: relative;
        top: 0; bottom: 0; left: 0; right: 0;
        transition: 1s ease-in-out;

        &.content-scaled{
            transform: scale(0.5);
        }
    }
}

#content{
    position: relative;
    text-align: center;
    transition: 1s ease-in-out;
}

.content-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen{
    flex-grow: 1;
    flex: 1;
    height: 100vh;
    max-width: 100vw;
}

.title-heading{
    font-family: $canter-bold-strips;
    opacity: 0.7;
    letter-spacing: 0.3em;
    font-size: 7em;
}

.paragraph-content{
    font-family: $open-sans;
}
