#about {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #about h1 {
    margin: 0; }
  #about .about-content {
    z-index: 2000;
    margin-top: 10%;
    height: 90%;
    width: 80%;
    overflow-y: scroll; }
    #about .about-content .splash {
      height: 50%; }
    #about .about-content .about-text-container {
      width: 100%;
      height: 100em; }
      #about .about-content .about-text-container .title-heading, #about .about-content .about-text-container .paragraph-content > p {
        color: white; }
      #about .about-content .about-text-container .paragraph-content {
        text-align: left; }


.contact-form {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative; }
  .contact-form .contact-form-background {
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../../resources/images/water.JPG"); }
  .contact-form .contact-form-title {
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    width: 10%;
    color: white; }
  .contact-form .contact-form-content {
    -webkit-box-flex: 11;
    -webkit-flex: 11;
        -ms-flex: 11;
            flex: 11;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .contact-form .contact-form-content > * {
      opacity: 0.5; }
    .contact-form .contact-form-content .contact-form-form {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 2000;
      position: relative;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 80%;
      height: 80%;
      min-width: 350px; }
      .contact-form .contact-form-content .contact-form-form .fancy-text-box, .contact-form .contact-form-content .contact-form-form .contact-form-message, .contact-form .contact-form-content .contact-form-form .contact-form-submit {
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        width: 100%;
        height: 2em;
        margin-bottom: 0.5em;
        font-size: 16pt; }

#examples {
  position: relative;
  overflow: hidden; }
  #examples .example-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #examples .example-content .example-text-writer-container {
      color: white;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                  -ms-grid-row-align: center;
              align-self: center; }
    #examples .example-content .example-heading-group {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                  -ms-grid-row-align: center;
              align-self: center;
      position: absolute; }
      #examples .example-content .example-heading-group .example-heading {
        display: inline-block; }
        #examples .example-content .example-heading-group .example-heading.heading-bold {
          font-family: "CanterBold", sans-serif; }
        #examples .example-content .example-heading-group .example-heading.heading-striped {
          font-family: "CanterBoldStrips", sans-serif; }
        #examples .example-content .example-heading-group .example-heading.heading-3d {
          font-family: "CanterBold3D", sans-serif; }
        #examples .example-content .example-heading-group .example-heading.heading-shadow {
          font-family: "CanterBoldShadow", sans-serif; }
        #examples .example-content .example-heading-group .example-heading.heading-light {
          font-family: "CanterLight", sans-serif; }
        #examples .example-content .example-heading-group .example-heading.heading-outline {
          font-family: "CanterOutline", sans-serif; }

.fancy-text-area {
  position: relative;
  width: 100%; }
  .fancy-text-area .fancy-text-area-input {
    width: 100%;
    height: 15em;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: black;
    color: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    font-size: 16pt; }

.fancy-text-box {
  font-family: "CanterLight", sans-serif;
  letter-spacing: 0.2em;
  position: relative;
  min-height: 3em;
  min-width: 5em;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  color: white; }
  .fancy-text-box .fancy-text-box-content .fancy-text-box-placeholder, .fancy-text-box .fancy-text-box-content .fancy-text-box-input {
    position: absolute;
    display: inline-block;
    margin: 0; }
  .fancy-text-box .fancy-text-box-content .fancy-text-box-placeholder {
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: lowercase;
    font-size: 1em;
    font-weight: bold;
    -webkit-transition: 0.33s ease;
    transition: 0.33s ease; }
    .fancy-text-box .fancy-text-box-content .fancy-text-box-placeholder.fancy-text-box-placeholder-origin {
      left: 10px;
      top: 5px;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0); }
    .fancy-text-box .fancy-text-box-content .fancy-text-box-placeholder.fancy-text-box-placeholder-small {
      -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
              transform: scale(0.5); }
  .fancy-text-box .fancy-text-box-content .fancy-text-box-input {
    padding: 15px 10px 5px 10px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 1.5em;
    vertical-align: bottom;
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1em; }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100; }

.home-background-image, #home .home-background-content .home-background, #home .home-background-content .home-foreground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-size: cover; }

.home-title, #home .home-content-container .home-title-1, #home .home-content-container .home-title-2 {
  position: absolute;
  font-size: 10em;
  margin: 0;
  right: 0;
  left: 0;
  letter-spacing: 0.3em;
  text-align: center;
  top: 45%;
  -webkit-transform: translateY(-65%);
      -ms-transform: translateY(-65%);
          transform: translateY(-65%);
  opacity: 0.5;
  z-index: 5; }

#home {
  position: relative; }
  #home .home-background-content .home-background-content-darken {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 20; }
  #home .home-background-content .home-background {
    background-image: url(../images/ocean.JPG);
    z-index: 0; }
  #home .home-background-content .home-foreground {
    background-image: url(../images/ocean-foreground.gif);
    z-index: 10; }
  #home .home-content-container {
    height: 100%;
    width: 100%; }
    #home .home-content-container .home-title-1 {
      font-family: "CanterBoldStrips", sans-serif; }
    #home .home-content-container .home-title-2 {
      font-family: "CanterBold", sans-serif; }

.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000; }
  .nav-bar .nav-bar-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav-bar .nav-bar-content .nav-item-container {
      position: absolute;
      -webkit-transition: 1s ease-in-out;
      transition: 1s ease-in-out;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .nav-bar .nav-bar-content .nav-item-container .nav-bar-item {
        color: white;
        font-family: "CanterBold", sans-serif;
        font-size: 2em;
        letter-spacing: 0.3em;
        text-decoration: none;
        text-transform: lowercase;
        position: absolute;
        z-index: 10000; }
      .nav-bar .nav-bar-content .nav-item-container.nav-item-container-left {
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
        left: 2em; }
        .nav-bar .nav-bar-content .nav-item-container.nav-item-container-left.hidden {
          left: -100%; }
      .nav-bar .nav-bar-content .nav-item-container.nav-item-container-right {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        right: 2em; }
        .nav-bar .nav-bar-content .nav-item-container.nav-item-container-right.hidden {
          right: -100%; }
      .nav-bar .nav-bar-content .nav-item-container.nav-item-container-top {
        top: 2em; }
        .nav-bar .nav-bar-content .nav-item-container.nav-item-container-top.hidden {
          top: -100%; }
      .nav-bar .nav-bar-content .nav-item-container.nav-item-container-bottom {
        bottom: 2em;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
        .nav-bar .nav-bar-content .nav-item-container.nav-item-container-bottom.hidden {
          bottom: -100%; }

.splash {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .splash .splash-image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%; }

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400");
@font-face {
  font-family: CanterBold;
  src: url("../fonts/CanterBold.otf") format("opentype"); }

@font-face {
  font-family: CanterBold3D;
  src: url("../fonts/CanterBold3D.otf") format("opentype"); }

@font-face {
  font-family: CanterBoldShadow;
  src: url("../fonts/CanterBoldShadow.otf") format("opentype"); }

@font-face {
  font-family: CanterBoldStrips;
  src: url("../fonts/CanterBoldStrips.otf") format("opentype"); }

@font-face {
  font-family: CanterLight;
  src: url("../fonts/CanterLight.otf") format("opentype"); }

@font-face {
  font-family: CanterOutline;
  src: url("../fonts/CanterOutline.otf") format("opentype"); }

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #322F31;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }
  html.hidden, body.hidden {
    opacity: 0; }

#viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed; }
  #viewport #viewport-content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
    #viewport #viewport-content.content-scaled {
      -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
              transform: scale(0.5); }

#content {
  position: relative;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }

.content-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.screen {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
  max-width: 100vw; }

.title-heading {
  font-family: "CanterBoldStrips", sans-serif;
  opacity: 0.7;
  letter-spacing: 0.3em;
  font-size: 7em; }

.paragraph-content {
  font-family: "Open Sans", sans-serif; }
  .paragraph-content p {
    line-height: 2em; }
