extends ../layouts/page-layout

block title
    title Canter

block pre-content

block content
    div(class="content-row")
        include ../components/empty-screen/empty-screen.pug
        include ../components/contact/contact.pug
        include ../components/empty-screen/empty-screen.pug
    div(class="content-row")
        include ../components/examles/examples.pug
        include ../components/home/home.pug
        include ../components/about/about.pug
    div(class="content-row")
        include ../components/empty-screen/empty-screen.pug
        include ../components/empty-screen/empty-screen.pug
        include ../components/empty-screen/empty-screen.pug
