div(id="home" class="parallax-container screen" name="#home" title="Home")
    div(class="home-content-container parallax-element")
        h1(class="home-title-1") cadence
        //- h1(class="home-title-2") cadence
    div(class="home-background-content")
        div(class="home-background-content-darken")
        div(class="home-foreground")
        div(class="home-background")
