@import '../../resources/sass/_fonts.scss';

.home-background-image{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-position: center center;
    background-size: cover;
}

.home-title{
    position: absolute;
    font-size: 10em;
    margin: 0;
    right: 0; left: 0;
    letter-spacing: 0.3em;
    text-align: center;
    top: 45%;
    transform: translateY(-65%);
    opacity: 0.5;
    z-index: 5;
}

#home{
    position: relative;

    .home-background-content{
        .home-background-content-darken{
            position: absolute;
            top: 0; bottom: 0; right: 0; left: 0;
            background-color: black;
            opacity: 0.3;
            z-index: 20;
        }

        .home-background{
            @extend .home-background-image;
            background-image: url(../images/ocean.JPG);
            z-index: 0;
        }

        .home-foreground{
            @extend .home-background-image;
            background-image: url(../images/ocean-foreground.gif);
            z-index: 10;
        }
    }

    .home-content-container{
        position: relative;
        height: 100%;
        width: 100%;

        .home-title-1{
            @extend .home-title;
            font-family: $canter-bold-strips;
        }

        .home-title-2{
            @extend .home-title;
            font-family: $canter-bold;
        }
    }
}
