div(class="nav-bar")
    div(class="nav-bar-content")
        a(class="nav-bar-item nav-item-left") left
        a(class="nav-bar-item nav-item-right") right
        a(class="nav-bar-item nav-item-top") top
        a(class="nav-bar-item nav-item-bottom") bottom